* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', Arial, sans-serif;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    color: #333;
    line-height: 1.6;
    background-image: url('uploads/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-container {
    position: relative;
    width: 350px;
    height: 450px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    perspective: 1000px;
}

.flip-container.flip {
    transform: rotateY(180deg);
}

.login-container, .signup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: rgba(255, 255, 255, 0.50); 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.signup-container {
    transform: rotateY(180deg);
    height: 140%;
    top: -70px; 
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.input-group button {
    padding: 12px;
    background-color: #2dc42d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    width: 100%; /
}

.input-group button:hover {
    background-color: #218838;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
