body {
    margin: 0;
    font-family: Arial;
    background: #1e293b;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDEBAR */
.sidebar-left {
    width: 20%;
    background: #111827;
    padding: 20px;
    border-right: 1px solid #334155;
}

.sidebar-left img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.community-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    background: #1e293b;
    margin-bottom: 8px;
    border-radius: 8px;
}

/* CENTER CHAT */
.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-box {
    flex: 1;
    background: #0f172a;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* RIGHT SIDEBAR */
.sidebar-right {
    width: 25%;
    background: #111827;
    padding: 20px;
    border-left: 1px solid #334155;
}

.game-card img {
    width: 60px;
    height: 60px;
}

.btn-add {
    width: 100%;
    padding: 10px;
    background: #0d0def;
    border: none;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
}

/* MODAL */
.modal { display: none; position: fixed; inset: 0; background: rgba(0,0,0,0.6); }
.modal-content {
    background: #1e293b;
    padding: 20px;
    margin: 100px auto;
    width: 40%;
    border-radius: 10px;
}
